# ==========================================
# Python
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd


# ==========================================
# Virtual Environments
# ==========================================

venv/
.venv/
ai/venv/


# ==========================================
# YOLO Model Weights
# ==========================================

*.pt


# ==========================================
# Input Videos
# ==========================================

ai/videos/*.mp4
ai/videos/*.avi
ai/videos/*.mov


# ==========================================
# Generated Output Videos
# ==========================================

ai/output/*.mp4
ai/output/*.avi
ai/output/*.mov


# ==========================================
# IDE
# ==========================================

.vscode/


# ==========================================
# OS
# ==========================================

Thumbs.db
.DS_Store